<div class="container">
  <div class="row">
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '1';">1</button>
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '2';">2</button>
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '3';">3</button>
  </div>
  <div class="row">
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '4';">4</button>
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '5';">5</button>
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '6';">6</button>
  </div>
  <div class="row">
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '7';">7</button>
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '8';">8</button>
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '9';">9</button>
  </div>
  <div class="row">
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '00';">00</button>
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value + '0';">0</button>
    <button type="button" class="col btn btn-outline-secondary px-3 py-3" onclick="document.getElementById('<%= input_id %>').value=document.getElementById('<%= input_id %>').value.slice(0, -1);">&lt;</button>
  </div>
</div>
